@font-face {
  font-family: "CAFE";
  src: url(../FONTS/Lofi\ Lifestyle\ Demo.ttf) format("truetype");
}

body {
  min-height: 100%;
  background-image: url(../Personal-Website/images/dylann-hendricks-ORjtcInPH0s-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
h1 {
  font-family: "CAFE";
  font-size: 56px;
}
.menu {
  width: 50%;
  height: 50%;
  background-color: lightslategray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.idiot {
  border-radius: 50%;
  border: 10px solid white;
  width: 50%;
  height: 50%;
}
.intro {
  font-family: "CAFE";
  font-size: xx-large;
}
.intro h1 {
  border-radius: 0%;
  border: 5px solid lightgreen;
  background-color: white;
}
.project-container {
  display: flex;
  align-items: center;
}
.chess {
  border-radius: 50%;
  margin-top: -50px;
}
.project-container h4 {
  margin-top: -20px;
}
.text-chess {
  text-decoration: none;
  color: black;
  border-bottom: none;
}
.socials h1 {
  border-radius: 0%;
  border: 5px solid lightgreen;
  background-color: white;
  margin-top: -5px;
}
.logos {
  margin-left: -30px;
  font-size: 70px;
  vertical-align: bottom;
}
/* apparently font-size affects imported icons sizes */
.logo1,
.logo2 {
  color: blue;
}
.logo3 {
  color: rgb(9.02%, 8.24%, 8.24%);
}
.logo4 {
  color: red;
}
.music {
  width: 40%;
  height: 49%;
  background-color: lightgrey;
  position: absolute;
  top: 0%;
  right: 110%;
}
.music .TUYU {
  border-radius: 50%;
  border: 5px solid purple;
}
.music h4 {
  text-decoration: purple;
  color: purple;
}
figcaption {
  font-family: "CAFE";
  font-size: xx-large;
}
audio::-webkit-media-controls-enclosure {
  border-radius: 0;
  display: block;
  width: 70%;
  margin-right: 130px;
  background-color: lightslategray;
}
.music .logo {
  font-size: 38px;
  color: black;
}
.collab {
  width: 40%;
  height: 49%;
  background-color: lightgrey;
  position: absolute;
  top: 0%;
  left: 110%;
}
.collab img {
  border-radius: 50%;
  border: 5px solid white;
}
.collab {
  font-family: "CAFE";
  font-size: xx-large;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .menu {
    width: 100%;
    height: 50%;
  }
  .music {
    width: 98% !important;
    height: 50px !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0% !important;
    position: relative !important;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: lightslategray;
  }
  .collab {
    width: 98% !important;
    height: 50px !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0% !important;
    position: relative !important;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: lightslategray;
  }
  .collab h1 {
    border-radius: 0%;
    border: 5px solid lightgreen;
    background-color: white;
  }
  .music h1 {
    border-radius: 0%;
    border: 5px solid lightgreen;
    background-color: white;
  }
  .logos {
    font-size: 2em;
    margin-left: 0%;
  }
  audio {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    background-color: lightslategray;
  }
.audio{
    background-color: lightslategray;
  }
  .chess{
    margin-bottom: -20px;
    margin-left: 5px;
  }
  /* future me dont change a single thing in this media query */
}
@media screen and (min-width: 1366px) {
  audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    display: block;
    width: 70%;
    margin-right: 130px;
    background-color: lightgray;
  }
}